
body {
     background-color: #e0e0e0;
}

#page {
      background-color: #e0e0e0;
      font-family: Georgia, Serif;
}

/* div that holds all the canvases */
#canvas {
	position: relative;
	width: 800px;
	height: 600px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 40px #444444;
}

#background_layer, #shadow_layer, #server_layer, #arrow_layer, #text_layer, #message_layer, #link_layer {
		  position: absolute;
		  left: 0;
		  top: 0;
}

/* information for each layer */
#background_layer {
	     z-index: 4;
}

#shadow_layer {
	     z-index: 5;
}

#server_layer {
	     z-index: 8;
}

#link_layer {
		z-index: 6;
}
#arrow_layer {
	     z-index: 7;
}

#text_layer {
	     z-index: 9;
}

#message_layer {
	      z-index: 10;
}

/* slider element */

/*.oSliderContainer { width: 100px; }*/

.ui-slider-horizontal .ui-slider-handle {
	      padding: 0px 0 0 0;
}

#slider_box {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}

#timestamp {
	   margin-left: auto;
	   margin-right: auto;
	   width: 200px;
}

#summary {
	 margin-left: auto;
	 margin-right: auto;
	 width: 800px;
}

/* message box!! */

#message_box {
	     font-family: "Monaco";
	     font-size: 12px;
	     position: absolute;
	     opacity:0.8;
	     filter:alpha(opacity=80);
	     background-color: #1C0E0B;
	     visibility: "hidden";
	     color: #FFFFFF;
	     z-index: 11;
	     padding: 10px;
	     max-width: 150px;
}

