
body {
/*     background-color: #e0e0e0; */
     background-color: #9D7E51;
}

#page {
     background-color: #9D7E51;
     font-family: Monaco, Georgia, Serif;
     font-size: 14;
}

/* div that holds all the canvases */
#canvas {
	position: relative;
	width: 800px;
	height: 600px;
	background-color: #ffffff;
	margin-left: 220px;
	box-shadow: 0px 0px 40px #444444;
}

#background_layer, #shadow_layer, #server_layer, #arrow_layer, #text_layer, #message_layer, #link_layer {
		  position: absolute;
		  left: 0;
		  top: 0;
}

/* information for each layer */
#background_layer {
	     z-index: 4;
}

#shadow_layer {
	     z-index: 5;
}

#server_layer {
	     z-index: 8;
}

#link_layer {
		z-index: 6;
}
#arrow_layer {
	     z-index: 7;
}

/* slider element */

.ui-slider-horizontal .ui-slider-handle {
	      padding: 0px 0 0 0;
}

#slider_box {
	margin-left: 220px;
	width: 800px;
}

/* information divs */

#mask {
  /* a brown mask to go under the pop-up key */
	    opacity:0.8;
	    filter:alpha(opacity=80);
	    background-color: #1A0C09;
	    position: fixed;
	    z-index: 14;
	    margin: auto;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    visibility: hidden;
}

#icon_key {
	  background-color: #e2e2e2;
	  width: 600px;
	  height: 600px;
	  position: fixed;
	  z-index: 15;
	  margin: auto;
	  left: 0; right: 0;
	  top: 0; bottom: 0;
	  visibility: hidden;
}

#side_information {
	   width: 160px;
	   position: absolute;
	    left: 30px;
	    top: 30px;
}


#timestamp, #summary, #log_files, #witnesses, #dissenters {
		overflow-x: scroll;
	    width: 160px;
	    background-color:#DECBA2;
	    padding: 10px;
	    opacity:0.8;
	    filter:alpha(opacity=80);
	    -moz-border-radius: 5px;
	    border-radius: 5px;
	    font-size: 10pt;
}

#pop_up_links {
	      /*position: absolute;*/

	      width: 160px;
	      top: 100%;
	      padding: 10px;
	      left: 100%;
}

/* link formatting */
a:link {color:#DECBA2; text-decoration: none;}
a:hover {color: green; text-decoration: none;}
a:active {color: #6a5178; text-decoration: none;}

/* message box!! */

#message_box {
	     font-family: "Monaco";
	     font-size: 12px;
	     position: absolute;
	     opacity:0.8;
	     filter:alpha(opacity=80);
	     background-color: #1C0E0B;
	     visibility: "hidden";
	     color: #FFFFFF;
	     z-index: 9;
	     padding: 10px;
	     max-width: 150px;
}


